/* .blog {
    color: #fff;
} */

.blog h1 {
  color: #333;
  margin: 20px 0;
  padding: 5px 0;
  border-bottom: 1px solid rgb(138, 138, 138);
}

.blog ul li {
  margin: 30px;
  color: rgb(138, 138, 138);
  font-size: 10px;
}

.blog ul li a:hover {
  color: #fd7013;
  transition: 0.3s;
}

.blog ul li a {
  display: block;
  color: #333;
  font-size: 24px;
}
