* {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color:#222831;
}

.logo {
    position:absolute;
    top: 20px;
    left: 100px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #FD7013;
    overflow: hidden;
}

.header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:100%;
}

.header h2 {
    position: absolute;
    top: 50%;
    left: 190px;
    transform: translate(0,-50%);
    color: #fff;
    font-size: 30px;
}

.nav {
    width: 100%;
    height: 100px;
}

.nav ul {
    position: absolute;
    right: 100px;
}

.nav-fixed {
    position: fixed;
    top: 0;
    background-color: #222831;
}

.nav ul li{
    float: left;
    padding: 35px 35px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.nav ul li:hover {
    color: #FD7013;
    transition: .3s;
}

.nav ul .choose {
    color: #FD7013;
    font-weight: 700;
}


/* -------2. banner------- */
.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background-image:radial-gradient( #fff,#EEEEEE);
}

.banner img {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translate(0,-40%);
    height:60%;
}

.banner h1 {
    position: absolute;
    left: 15%;
    bottom: 50%;
    font-size: 120px;
    color:#0D0C22;
}

.banner h2{
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 40px;
    color:#0D0C22;
}

.banner .btn-slider {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 20px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    background-color: #FD7013;
    color: #fff;
    text-align: center;
}


/* -------3. 内容------- */
.wrap {
    margin: 0 auto;
    width: 1140px;
    height: 600px; 
    background-color:#fff;
}

/* -------4. footer------- */
.footer {
    width: 100%;
    height: 400px;
    background-color: #393E46;
}